<h1>Users</h1>

<ul [@listStagger]="users$">
  <li *ngFor="let user of users$">
    <a routerLink="/details/{{user.user_id}}">{{ user.first_name }} {{ user.last_name }} </a>

    <ul>
      <li>{{ user.email }}</li>
    </ul>
  </li>
</ul>