/* Mobile first layout SmartMenus Core CSS (it's not recommended editing these rules)
   You need this once per page no matter how many menu trees or different themes you use.
-------------------------------------------------------------------------------------------*/
.sm {
  box-sizing: border-box;
  position: relative;
  z-index: 9999;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.sm, .sm ul, .sm li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: normal;
  direction: ltr;
  text-align: left; }

.sm-rtl, .sm-rtl ul, .sm-rtl li {
  direction: rtl;
  text-align: right; }

.sm > li > h1, .sm > li > h2, .sm > li > h3, .sm > li > h4, .sm > li > h5, .sm > li > h6 {
  margin: 0;
  padding: 0; }

.sm ul {
  display: none; }

.sm li, .sm a {
  position: relative; }

.sm a {
  display: block; }

.sm a.disabled {
  cursor: default; }

.sm::after {
  content: "";
  display: block;
  height: 0;
  font: 0px/0 serif;
  clear: both;
  overflow: hidden; }

.sm *, .sm *::before, .sm *::after {
  box-sizing: inherit; }

/*==================================================
=                     Colors             =
==================================================*/
/*==================================================
=                     Fonts             =
==================================================*/
  /*
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;

  */
@font-face {
  font-family: "meta-serf-pro";
  src: url("../fonts/MetaSerifPro/MetaSerifPro-Medium.woff2") format("woff2"), url("../fonts/MetaSerifPro/MetaSerifPro-Black.woff") format("woff"); }
@font-face {
  font-family: "graphic";
  src: url("../fonts/Graphik/Graphik-Regular.woff2") format("woff2"), url("../fonts/Graphik/Graphik-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Flama-Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Flama-Bold"), url("../fonts/Flama/Flama-Bold.woff") format("woff"); }
/*==================================================
=                     Mixins             =
==================================================*/
/* All size bigger than breakpoint */
@media only screen and (min-width: 992px) {
  .sm-clean {
    background-color: transparent !important;
    padding: 0 !important; }
    .sm-clean li a {
      line-height: 49px; }
      .sm-clean li a.active {
        border-bottom: 4px solid #00AEEF;
        color: #00AEEF !important; }
    .sm-clean li li a {
      line-height: 21px !important; } }
/* All size smaller than breakpoint */
@media only screen and (max-width: 991px) {
  .sm-clean {
    width: 90%;
    margin: 10px auto 6px;
    background-color: transparent !important; }
    .sm-clean li a, .sm-clean li a:hover, .sm-clean li a:focus, .sm-clean li a:active {
      color: #363636;
      font-family: "graphic", Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 600 !important;
      line-height: 21px; }
    .sm-clean li a.active {
      border-bottom: 3px solid #00AEEF; } }
.sm-clean {
  background: #fff;
  border-radius: 0px;
  display: block; }
  .sm-clean a, .sm-clean a:hover, .sm-clean a:focus, .sm-clean a:active {
    padding: 13px 20px;
    /* make room for the toggle button (sub indicator) */
    padding-right: 61px;
    color: #555555;
    font-family: "graphic", Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 21px;
    text-decoration: none; }
  .sm-clean a.current {
    color: rgba(0, 174, 239, 0.77); }
  .sm-clean a.disabled {
    color: #bbbbbb; }
  .sm-clean a .sub-arrow {
    position: absolute;
    top: 50%;
    margin-top: -19px;
    left: auto;
    right: 4px;
    width: 37px;
    height: 37px;
    overflow: hidden;
    font: bold 12px/37px monospace !important;
    text-align: center;
    text-shadow: none;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0px; }
  .sm-clean a .sub-arrow::before {
    content: '>'; }
  .sm-clean a.highlighted .sub-arrow::before {
    content: '-'; }
  .sm-clean > li:first-child > a, .sm-clean > li:first-child > :not(ul) a {
    border-radius: 0px 0px 0 0; }
  .sm-clean > li:last-child > a, .sm-clean > li:last-child > *:not(ul) a, .sm-clean > li:last-child > ul, .sm-clean > li:last-child > ul > li:last-child > a, .sm-clean > li:last-child > ul > li:last-child > *:not(ul) a, .sm-clean > li:last-child > ul > li:last-child > ul, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul {
    border-radius: 0 0 0px 0px; }
  .sm-clean > li:last-child > a.highlighted, .sm-clean > li:last-child > *:not(ul) a.highlighted, .sm-clean > li:last-child > ul > li:last-child > a.highlighted, .sm-clean > li:last-child > ul > li:last-child > *:not(ul) a.highlighted, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted {
    border-radius: 0; }
  .sm-clean li {
    border-top: 1px solid rgba(0, 0, 0, 0.05); }
  .sm-clean > li:first-child {
    border-top: 0; }
  .sm-clean ul {
    background: rgba(179, 179, 179, 0.1); }
    .sm-clean ul a, .sm-clean ul a:hover, .sm-clean ul a:focus, .sm-clean ul a:active {
      font-size: 12px;
      padding: 8px 52px;
      background-color: #fff;
      color: #4D5A6B;
      font-family: "meta-serf-pro", sans-serif;
      font-size: 15px;
      font-weight: 300 !important;
      line-height: 24px; }
    .sm-clean ul ul a,
    .sm-clean ul ul a:hover,
    .sm-clean ul ul a:focus,
    .sm-clean ul ul a:active {
      border-left: 16px solid transparent; }
    .sm-clean ul ul ul a,
    .sm-clean ul ul ul a:hover,
    .sm-clean ul ul ul a:focus,
    .sm-clean ul ul ul a:active {
      border-left: 24px solid transparent; }
    .sm-clean ul ul ul ul a,
    .sm-clean ul ul ul ul a:hover,
    .sm-clean ul ul ul ul a:focus,
    .sm-clean ul ul ul ul a:active {
      border-left: 32px solid transparent; }
    .sm-clean ul ul ul ul ul a,
    .sm-clean ul ul ul ul ul a:hover,
    .sm-clean ul ul ul ul ul a:focus,
    .sm-clean ul ul ul ul ul a:active {
      border-left: 40px solid transparent; }

@media (min-width: 991px) {
  /* Switch to desktop layout
  -----------------------------------------------
     These transform the menu tree from
     collapsible to desktop (navbar + dropdowns)
  -----------------------------------------------*/
  /* start... (it's not recommended editing these rules) */
  .sm-clean ul {
    position: absolute;
    width: 12em; }

  .sm-clean li {
    float: left; }

  .sm-clean.sm-rtl li {
    float: right; }

  .sm-clean ul li, .sm-clean.sm-rtl ul li, .sm-clean.sm-vertical li {
    float: none; }

  .sm-clean a {
    white-space: nowrap; }

  .sm-clean ul a, .sm-clean.sm-vertical a {
    white-space: normal; }

  .sm-clean .sm-nowrap > li > a, .sm-clean .sm-nowrap > li > :not(ul) a {
    white-space: nowrap; }

  /* ...end */
  .sm-clean {
    padding: 0 10px;
    background: #fff;
    border-radius: 0px; }
    .sm-clean a, .sm-clean a:hover, .sm-clean a:focus, .sm-clean a:active, .sm-clean a.highlighted {
      padding: 12px 12px;
      color: #4D5A6B;
      border-radius: 0 !important; }
    .sm-clean a:hover, .sm-clean a:focus, .sm-clean a:active, .sm-clean a.highlighted {
      color: rgba(0, 174, 239, 0.77); }
    .sm-clean a.current {
      color: rgba(0, 174, 239, 0.77); }
    .sm-clean a.disabled {
      color: #bbbbbb; }
    .sm-clean a.has-submenu {
      padding-right: 24px; }
    .sm-clean a .sub-arrow {
      top: 50%;
      margin-top: -2px;
      right: 12px;
      width: 0;
      height: 0;
      border-width: 4px;
      border-style: solid dashed dashed dashed;
      border-color: #555555 transparent transparent transparent;
      background: transparent;
      border-radius: 0; }
    .sm-clean a .sub-arrow::before {
      display: none; }
    .sm-clean li {
      border-top: 0; }
    .sm-clean > li > ul::before,
    .sm-clean > li > ul::after {
      content: '';
      position: absolute;
      top: -18px;
      left: 30px;
      width: 0;
      height: 0;
      overflow: hidden;
      border-width: 9px;
      border-style: dashed dashed solid dashed;
      border-color: transparent transparent #dcdcdc transparent; }
    .sm-clean > li > ul::after {
      top: -16px;
      left: 31px;
      border-width: 8px;
      border-color: transparent transparent #fff transparent; }
    .sm-clean ul {
      border: 1px solid #dcdcdc;
      padding: 5px 0;
      background: #fff;
      border-radius: 0px !important;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
      top: 64px !important; }
      .sm-clean ul a, .sm-clean ul a:hover, .sm-clean ul a:focus, .sm-clean ul a:active, .sm-clean ul a.highlighted {
        border: 0 !important;
        padding: 10px 20px;
        color: #555555; }
      .sm-clean ul a:hover, .sm-clean ul a:focus, .sm-clean ul a:active, .sm-clean ul a.highlighted {
        background: #eeeeee;
        color: rgba(0, 174, 239, 0.77); }
      .sm-clean ul a.current {
        color: rgba(0, 174, 239, 0.77); }
      .sm-clean ul a.disabled {
        background: #fff;
        color: #cccccc; }
      .sm-clean ul a.has-submenu {
        padding-right: 20px; }
      .sm-clean ul a .sub-arrow {
        right: 8px;
        top: 50%;
        margin-top: -5px;
        border-width: 5px;
        border-style: dashed dashed dashed solid;
        border-color: transparent transparent transparent #555555; }
    .sm-clean .scroll-up,
    .sm-clean .scroll-down {
      position: absolute;
      display: none;
      visibility: hidden;
      overflow: hidden;
      background: #fff;
      height: 20px; }
      .sm-clean .scroll-up:hover,
      .sm-clean .scroll-down:hover {
        background: #eeeeee; }
    .sm-clean .scroll-up:hover .scroll-up-arrow {
      border-color: transparent transparent rgba(0, 174, 239, 0.77) transparent; }
    .sm-clean .scroll-down:hover .scroll-down-arrow {
      border-color: rgba(0, 174, 239, 0.77) transparent transparent transparent; }
    .sm-clean .scroll-up-arrow,
    .sm-clean .scroll-down-arrow {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -6px;
      width: 0;
      height: 0;
      overflow: hidden;
      border-width: 6px;
      border-style: dashed dashed solid dashed;
      border-color: transparent transparent #555555 transparent; }
    .sm-clean .scroll-down-arrow {
      top: 8px;
      border-style: solid dashed dashed dashed;
      border-color: #555555 transparent transparent transparent; }
    .sm-clean.sm-rtl a.has-submenu {
      padding-right: 12px;
      padding-left: 24px; }
    .sm-clean.sm-rtl a .sub-arrow {
      right: auto;
      left: 12px; }
    .sm-clean.sm-rtl.sm-vertical a.has-submenu {
      padding: 10px 20px; }
    .sm-clean.sm-rtl.sm-vertical a .sub-arrow {
      right: auto;
      left: 8px;
      border-style: dashed solid dashed dashed;
      border-color: transparent #555555 transparent transparent; }
    .sm-clean.sm-rtl > li > ul::before {
      left: auto;
      right: 30px; }
    .sm-clean.sm-rtl > li > ul::after {
      left: auto;
      right: 31px; }
    .sm-clean.sm-rtl ul a.has-submenu {
      padding: 10px 20px !important; }
    .sm-clean.sm-rtl ul a .sub-arrow {
      right: auto;
      left: 8px;
      border-style: dashed solid dashed dashed;
      border-color: transparent #555555 transparent transparent; }
    .sm-clean.sm-vertical {
      padding: 10px 0;
      border-radius: 0px; }
      .sm-clean.sm-vertical a {
        padding: 10px 20px; }
        .sm-clean.sm-vertical a:hover, .sm-clean.sm-vertical a:focus, .sm-clean.sm-vertical a:active, .sm-clean.sm-vertical a.highlighted {
          background: #fff; }
        .sm-clean.sm-vertical a.disabled {
          background: #fff; }
        .sm-clean.sm-vertical a .sub-arrow {
          right: 8px;
          top: 50%;
          margin-top: -5px;
          border-width: 5px;
          border-style: dashed dashed dashed solid;
          border-color: transparent transparent transparent #555555; }
      .sm-clean.sm-vertical > li > ul::before,
      .sm-clean.sm-vertical > li > ul::after {
        display: none; }
      .sm-clean.sm-vertical ul a {
        padding: 10px 20px; }
        .sm-clean.sm-vertical ul a:hover, .sm-clean.sm-vertical ul a:focus, .sm-clean.sm-vertical ul a:active, .sm-clean.sm-vertical ul a.highlighted {
          background: #eeeeee; }
        .sm-clean.sm-vertical ul a.disabled {
          background: #fff; } }
