<nav>
	<ul>
		<li> 
			<a routerLink="" [class.activated]="currentUrl == '/' || currentUrl == '/details' " ><i class="material-icons">supervised_user_circle</i></a>
		</li>
		<li>
			<a routerLink="addUsers" [class.activated]="currentUrl == '/addUsers'"><i class="material-icons">message</i></a>
		</li>
	</ul>
</nav>