body {
  background-color: #fff;
  overflow-x: hidden;

  a,
  button {
    text-decoration: none !important;
    @include transition(all, 0.15s, ease);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a,
  li,
  input,
  textarea,
  label,
  select,
  span,
  small,
  button {
    color: $dark-grey;
    font-weight: normal;
    font-family: $open-sans, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;

    &.bold-600 {
      font-weight: 600;
    }

    &.bold-700 {
      font-weight: 700;
    }

    &.bold-800 {
      font-weight: 800;
    }

    &.sub {
      color: #878787;
    }

  }

  a {
    color: #3a8bb9;

    &.small-link {
      font-size: 12px;
    }
  }
}



/*============== Heading =================*/

h1,
h2,
h3,
h4 {
  color: #5a5a5a;
  letter-spacing: -1px;

}

h1,
h2 {
  width: 100%;

}

h1 {
  font-size: 48px !important;
  line-height: 58px;

  @media only screen and (max-width: 480px) {
    font-size: 27px !important;
  }

}

h2 {
  font-size: 28px;
  line-height: 42px;

  @media only screen and (max-width: 480px) {
    font-size: 22px;
    line-height: 30px;
  }

}

h3 {
  font-size: 24px;
  line-height: 36px;

  @media only screen and (max-width: 480px) {
    font-size: 30px;
    line-height: 28px;

  }
}

h4 {
  font-size: 20px;
  line-height: 28px;

  @media only screen and (max-width: 480px) {
    font-size: 17px;
  }
}

h5 {
  font-size: 16px;
  line-height: 22px;
}

h6 {
  font-size: 14px;
  line-height: 20px;
}

/*============== Paragraphs =================*/

.caption {
  color: $dim-grey;
  font-family: $open-sans, Arial, Helvetica, sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 12px;
}

p {
  color: $dim-grey;
  font-weight: normal;
  font-family: $open-sans, Arial, Helvetica, sans-serif;
  line-height: 25px;

  &.body-large {
    color: $dark-grey;
    font-size: 20px;
    line-height: 34px;
  }

  &.body-small {
    color: $dim-grey;
    font-size: 13px;
    line-height: 21px;
  }
}

/*============== Buttons =================*/

.btn {
  border: none;
  padding: 10px 25px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-bottom: 10px;
  display: inline-block;
  text-decoration: none !important;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  @include border-radius(500px);

  &.btn-transparent {
    background-color: transparent;
    color: #979797;
  }

  &.btn-orange {

    background-color: #ff7034;
    color: #fff;

    &:hover {
      background-color: #ff8f60;
    }
  }

  &.btn-dark-blue {
    background-color: #283970;
    color: #fff;

    &:hover {
      background-color: #3b4f8e;
    }
  }

  &.btn-paypal {
    background-color: #31a2d6;
    color: #fff;

    svg {
      font-size: 18px;
    }

    &:hover {
      background-color: #aacedf;
    }
  }



  &.btn-default {
    background-color: #dadada;
    color: #333333;
  }

  &.btn-white {
    color: #6f6f6f;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 13px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0 6px 13px 0px rgba(0, 0, 0, 0.09);
    -o-box-shadow: 0 6px 13px 0px rgba(0, 0, 0, 0.09);
  }

  &.btn-small {
    padding: 5px 14px;
    font-size: 12px;
  }

  &.btn-large {
    padding: 20px 30px;
    font-size: 16px;
  }

  &.btn-primary {
    color: #fff;
    background-color: $main-color;

    &:hover {
      background-color: $main-color-sub-1;
    }

    &:focus {
      background-color: $main-color-sub-2;
    }

    &.disabled,
    &:disabled {
      background-color: #c5c5c5;
    }
  }

  &.btn-secondary {
    color: $dark-grey;
    background-color: $sec-color;

    &:hover {
      background-color: $sec-color-sub-1;
    }

    &:focus {
      background-color: $sec-color-sub-2;
    }

    &.disabled,
    &:disabled {
      background-color: #c5c5c5;
    }
  }

  &.btn-dark {
    color: #fff;
    background-color: $dark-grey;

    &:hover {
      background-color: $dark-blue-sub-1;
    }

    &:focus {
      background-color: $dark-blue-sub-2;
    }

    &.disabled,
    &:disabled {
      background-color: #c5c5c5;
    }
  }

  &.btn-light {
    color: $dark-grey;
    background-color: #fff;

    &:hover {}

    &:focus {
      background-color: #c5c5c5;
    }

    &.disabled,
    &:disabled {
      color: #fff;
      background-color: #c5c5c5;
    }
  }

  &.btn-round {
    @include border-radius(500px);
    color: #fff;
    background-color: $dark-grey;

    &:hover {
      background-color: $dark-blue-sub-1;
    }

    &:focus {
      background-color: $dark-blue-sub-2;
    }

    &.disabled,
    &:disabled {
      background-color: #c5c5c5;
    }
  }
}

div.button-group {
  background-color: #fff;
  border-radius: 500px;
  display: inline-block;
  margin-bottom: 20px;

  box-shadow: 0 6px 13px 0px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0 6px 13px 0px rgba(0, 0, 0, 0.09);
  ;
  -moz-box-shadow: 0 6px 13px 0px rgba(0, 0, 0, 0.09);
  -o-box-shadow: 0 6px 13px 0px rgba(0, 0, 0, 0.09);

  .btn {
    margin-bottom: 0;

  }

}



/*============== TextBoxes =================*/

.textbox {
  box-sizing: border-box;
  border: none;
  padding: 6px 10px 5px 12px;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 10px;
  display: inline-block;
  color: $dim-grey;
  width: 250px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &:hover {
    border: 1px solid #CED0DA;
  }

  &:focus {
    border: 1px solid $main-color;
    outline: none;
    caret-color: $main-color;
  }

  &.alert {
    border: 1px solid #ED1C24;
  }

  &.ok {
    border: 1px solid #23B99E;
  }

  &.disabled,
  &:disabled {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}


/*==================================================
=                  Used Objects             =
==================================================*/



#wrapper {
  position: relative;
  z-index: 2;
}

.container {
  margin: auto;
  width: 80% !important;
  max-width: 1500px;
  padding: 0 20px;
  box-sizing: border-box;

  @media only screen and (max-width: 1170px) {
    width: 85% !important;
  }

  @media only screen and (max-width: 991px) {
    width: 90% !important;
  }

  @media only screen and (max-width: 768px) {
    width: 100% !important;
  }
}

.container-fluid {
  width: 100% !important;
  box-sizing: border-box;
}


.responsive-top-margin {
  margin-top: 100px;

  @media only screen and (max-width: 768px) {
    margin-top: 50px;
  }

  @media only screen and (max-width: 480px) {
    margin-top: 20px;
  }
}

.responsive-bottom-padding {
  padding-bottom: 130px;

  @media only screen and (max-width: 768px) {
    padding-bottom: 80px;
  }

  @media only screen and (max-width: 480px) {
    padding-bottom: 50px;
  }
}

header {
  margin-bottom: 75px;
}

header.has-light-header-curve {
  @media only screen and (max-width: 768px) {
    margin-bottom: 00px;
  }

  div.light-header-curve {
    background-image: url(../img/light-curves.svg);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    height: 460px;

    @media only screen and (max-width: 1600px) {
      height: 460px;
    }

    @media only screen and (max-width: 1200px) {
      height: 370px;
    }

    @media only screen and (max-width: 991px) {
      height: 300px;
    }

    @media only screen and (max-width: 768px) {
      height: 200px;
    }

    @media only screen and (max-width: 480px) {
      height: 180px;
    }

  }

  #main-nav-wrapper {
    div.site-logo {
      a {
        background-position: 0 3px;

        @media only screen and (max-width: 768px) {
          background-position: 0px -370px;
        }

        @media only screen and (max-width: 480px) {
          background-position: 0px -519px;
          max-height: 35px;
          overflow: hidden;
          ;
        }

      }
    }
  }
}

#loader-container {
  opacity: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-color: rgba(255, 255, 255, 0.78);
  @include transition(opacity, 0.5s, ease);

  div {
    display: table-cell;
    vertical-align: middle;

    img {
      display: block;
      margin: auto;
      opacity: 0.8;
    }
  }
}


#form-submit-error {
  position: fixed;
  z-index: 11;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(194, 30, 30, 0.78);
  color: #fff;
  padding: 5px 15px;
  box-sizing: border-box;

  div {
    max-width: 375px;
    display: block;
    margin: 0 auto;

    p,
    svg {
      font-size: 14px;
      color: #fff;
      display: inline-block;
      margin: 0;
    }
    svg{
      margin-right: 5px;
    }
  }
}




.with-bottom-separator {
  border-bottom: 1px solid rgba(232, 232, 232, 0.75);
}


.center {
  text-align: center;
}


.row.head {
  text-align: center;
}

p.sub {
  display: block;
  margin: 0 auto;

  @media only screen and (max-width: 480px) {
    font-size: 14px;
  }
}

.wide-head {
  margin: -55px -23px -50px;
  padding: 1px 23px 50px;
}

.blue-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c6bb1+0,1ba9be+100 */
  background: rgb(44, 107, 177);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(44, 107, 177, 1) 0%, rgba(27, 169, 190, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(44, 107, 177, 1) 0%, rgba(27, 169, 190, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(44, 107, 177, 1) 0%, rgba(27, 169, 190, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c6bb1', endColorstr='#1ba9be', GradientType=1);
  /* IE6-9 */
}



.separator {
  height: 1px;
  background-color: #e0e0e0;
  margin: 24px auto;
  width: 80%;
  display: block;
}

form.search-box-group {
  position: relative;

  input[type="text"] {
    width: 100%;
  }

  button {
    color: #989898;
    position: absolute;
    top: 9px;
    right: 0px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }
}