      /*========== Main nav  =================*/
      #main-nav-wrapper {
        box-sizing: border-box;
        height: 85px;
        width: 100%;
        border-bottom: 1px solid #E9E9E9;
        background-color: #fff;
        opacity: 0.95;
        display: flex;
        margin: 0;
        box-shadow: 0 -3px 24px 0px rgba(0, 0, 0, 0.23);
        -webkit-box-shadow: 0 -3px 24px 0px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 0 -3px 24px 0px rgba(0, 0, 0, 0.23);
        -o-box-shadow: 0 -3px 24px 0px rgba(0, 0, 0, 0.23);

        .site-logo {
          position: absolute;
          left: 10px;
          top: 5px;

          a {
            background-image: url(../img/logo1.png);
            height: 52px;
            width: 303px;
            display: inline-block;
            margin: 9px 13px;
          }
        }

        .menu-container {
          padding: 0;
          width: max-content;
          position: absolute;
          right: 30px;
          display: inline-block;
        }

        .nav-buttons {
          flex: 0 0 px;

          /* don't grow, don't shrink, stay fixed at 230px */
          a,
          button {
            color: $light-grey;
            margin-right: 12px;
          }

          a.sign-up {
            padding: 8px 11px;
            font-size: 13px;
            line-height: 2;
            color: #fff;
            margin: 0 25px;
          }

          form,
          a {
            display: inline;
          }

          input[type='text'] {
            display: none;
          }

          button {
            border: none;
            background: none;
            margin: 8px 0 0 7px;
            padding: 0;
          }

          img {
            width: 16px;
            height: 16px;
          }
        }

        .main-nav {
          ul {
            margin: 0;
            padding: 0;

            li {
              border-bottom: 4px solid transparent;
              max-height: 84px;

              a{
                font-family: $open-sans, sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 56px;
              }

              img {
                padding: 0 0 0 5px;
                width: 9px;
              }
            }

            li.active {
              color: #30B7EA;
              border-bottom: 4px solid #00AEEF;
            }
          }
        }

        div {
          padding: 0;
        }
      }

      .main-nav {
        display: block;
        background-color: #fff;
      }

      .toggle-mobile-nav-btn {
        display: none !important;
      }

      body{
        .light-curves{
          position: absolute;
          top: -60px;
          width: 100%;
          z-index: -1;
        }
      }



      /* Large Devices, Wide Screens */
      @media only screen and (max-width: 1200px) {

        /*========== For Main Navbar =================*/
        #grey-navbar {
          padding: 0px 5%;
        }
      }

      /* Special breakboint for nav */
      @media only screen and (max-width: 1070px) {
        .main-nav {
          display: none;
        }

        .toggle-mobile-nav-btn {
          display: inline-block !important;
          width: 12px;

          &.collabsed {
            .bars {
              display: block;
              color: $light-grey;
            }

            .x {
              display: none;
            }
          }

          &.opend {
            .bars {
              display: none;
            }

            .x {
              display: block;
            }
          }
        }

        .nav-search {
          //  display: none;
        }
      }

      @media only screen and (max-width: 992px) {

        /*========== For Main Navbar =================*/
        #grey-navbar {
          padding: 0px 0;

          nav {
            ul {
              li {
                a {
                  padding: 10px 8px 0;
                }
              }
            }
          }
        }
      }

      /* Small Devices, Tablets */
      @media only screen and (max-width: 768px) {

        /*========== For Grey Navbar =================*/
        #grey-navbar {
          display: none;
        }

        /*========== For Main Navbar =================*/
        #main-nav-wrapper {
          height: 51px;

        }

        #main-nav {
          line-height: 0;
          text-align: center;
        }

        #main-menu {
          display: block;
        }
      }

      /* Extra Small Devices, Phones */
      @media only screen and (max-width: 480px) {}

      /* Custom, iPhone Retina */
      @media only screen and (max-width: 320px) {}