div.main-blue-header-theme {
  @media only screen and (min-width: 1920px) {
    background-image: url(../img/hero-ratina-bg.svg);
  }

  background-image: url(../img/hero-bg.svg);

  @media only screen and (max-width: 768px) {
    background-image: url(../img/hero-small-bg.svg);
  }
}

#main-nav-wrapper.style-nav-2 {
  @media only screen and (min-width: 769px) {
    .site-logo {
      a {
        background-position: 0 -57px;
      }
    }

    background-color: transparent;
    border-bottom-color: transparent;
    box-shadow: 0 -3px 24px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 -3px 24px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 -3px 24px 0px rgba(0, 0, 0, 0);
    -o-box-shadow: 0 -3px 24px 0px rgba(0, 0, 0, 0);


    ul#main-menu,
    nav.main-nav {
      background-color: transparent;
    }

    ul#main-menu {
      li {
        opacity: 0.8;
        @include transition(opacity, 0.2s, ease );
        &:hover{
          opacity: 1;
        }
        a {
          color: #fff;
          font-weight: 600;
        }
        .sub-arrow{
          border-color: rgba(230, 230, 230, 0.67) transparent transparent transparent;
        }
        ul{
          li{
            opacity: 1 !important;

            a{
              color: #111a3a;
            }
          }
        }
      }
    }
  }
}

#hero {
  padding-bottom: 360px;

  @media only screen and (max-width: 768px) {
    padding-bottom: 190px;
  }

  @media only screen and (max-width: 480px) {
    padding-bottom: 170px;
  }

  div.content {
    margin-top: 100px;
    text-align: center;
    padding: 0 20px;

    h1,
    h4 {
      color: #fff;
    }

    h1 {
      font-size: 32px !important;
      font-weight: 700;
      margin: 0 0 20px;
      line-height: 50px;

      @media only screen and (max-width: 768px) {
        font-size: 28px !important;
        line-height: 30px;
        margin-bottom: 20px;
      }

      @media only screen and (max-width: 480px) {
        font-size: 22px !important;
        line-height: 27px;
        margin-bottom: 14px;
      }



    }

    h4 {
      margin: 0 0 70px;
      font-size: 18px !important;
      letter-spacing: 1px;

      @media only screen and (max-width: 768px) {
        font-size: 16px !important;
        margin: 0 0 50px;


      }

      @media only screen and (max-width: 480px) {
        font-size: 12px !important;
        line-height: 25px;
        margin: 0 0 30px;


      }
    }


    div.text-box-simulator {
      margin: 00px 0 30px;
      background-color: #fff;
      display: inline-block;
      position: relative;
      border-radius: 500px;
      padding: 0 0 0 36px;

      @media only screen and (max-width: 562px) {
        width: 100%;
        height: 44px;
        text-align: left;
        padding-top: 12px;
        box-sizing: border-box;
      }

      @media only screen and (max-width: 392px) {
        height: 55px;
      }

      svg {
        color: #9e9e9e;
        margin: 0px 10px 0 0;
        position: absolute;
        left: 13px;
        top: 15px;
      }

      button:not(.btn) {
        border: none;
        outline: none;
        background: none;
        padding: 0;
        font-size: 14px;
        cursor: pointer;
        color: #8b8b8b;

        &:hover {
          color: #000;
        }
      }

      button.btn {
        margin: 0 0 0 20px;
        ;
        height: 45px;
        text-transform: capitalize;
        font-weight: 600;
      }

      @media only screen and (max-width: 562px) {

        button.btn {
          position: absolute;
          right: 0px;
          top: 33px;
          padding: 4px 21px;
          height: 40px;
        }

      }


    }

    div.service-type-radio-group {
      display: flex;
      max-width: 60%;
      max-width: 550px;
      margin: 20px auto 0;

      div.service-type {

        opacity: 0.7;
        flex-basis: 33.33%;
        padding: 0 20px 0px 21px;
        position: relative;

        @media only screen and (max-width: 768px) {
          padding-right: 0;
        }

        input[type='radio'] {
          position: absolute;
          left: 4px;
          top: 7px;
        }

        p {
          padding: 0;
          margin: 0;
          text-align: left;
          color: #fff;

          @media only screen and (max-width: 768px) {
            font-size: 14px;
          }

          small {
            display: block;
            color: #fff;
            font-size: 11px;

            @media only screen and (max-width: 768px) {
              line-height: 16px;
              margin-top: 5px;
            }
          }
        }

        &.checked {
          opacity: 1;
        }
      }
    }
  }
}

.main-style-curves {
  position: absolute;
  top: 690px;
  width: 100%;
}



#intro {
  text-align: center;

  h2 {
    margin-bottom: 15px;
  }

  h5 {
    margin: 0px 0 35px;
    color: #878787;

  }

  a.btn {
    text-transform: capitalize;

    svg {
      margin-right: 10px;
    }
  }

  p {
    line-height: 25px;

    @media only screen and (max-width: 820px) {
      line-height: 23px;
      font-size: 13px;
    }

    @media only screen and (max-width: 768px) {
      margin-bottom: 66px;
    }
  }

  div {
    img {
      width: 100%;
      max-height: 290px;
      object-fit: cover;
      position: relative;
      top: 26px;

      @media only screen and (max-width: 768px) {
        top: 0;
      }
    }
  }

}

#how-it-works-section {
  h4 {
    margin-bottom: 12px;
  }

  p {
    display: block;
    margin: 0 auto 0;

    @media only screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 20px;
    }
  }

  div.col-sm-3 {
    img {
      max-width: 183px;

      @media only screen and (max-width: 1000px) {
        width: 100%;
        padding: 0px 17px 0;
        box-sizing: border-box;

      }
    }

    @media only screen and (max-width: 570px) {
      flex-basis: 100%;
      max-width: 100%;

      img {
        max-width: fit-content;
      }

      p {
        margin-bottom: 70px;
      }

      h4 {
        margin: 15px 0 0;
      }

    }


  }
}

#customers-reviews {
  .row {
    .single-testimonial {

      margin-top: 80px;
      padding: 0px 10px;
      box-sizing: border-box;
      text-align: left;
      flex-basis: 33.3333%;

      @media only screen and (max-width: 768px) {
        margin-top: 30px;
      }

      .review-body {
        position: relative;

        h5,
        p,
        a {
          color: #ececec;
        }

        h5 {
          margin: 0 0 20px;
          font-size: 13px;
          font-weight: 700;
        }

        p {
          font-size: 13px;
          line-height: 22px;
          font-style: italic;
          position: relative;
          padding-left: 38px;

          svg {
            position: absolute;
            top: 0;
            left: -2px;
            font-size: 26px;
          }

          a {
            text-decoration: underline !important;
          }
        }

        svg {
          position: absolute;
          bottom: -15px;


        }

        padding: 18px 25px 24px;
        box-sizing: border-box;
        margin-bottom: 30px;
        border-radius: 10px;
        background: #4674c8;
        background: -moz-linear-gradient(45deg, #4674c8 0%, #25a0bc 100%);
        background: -webkit-linear-gradient(45deg, #4674c8 0%, #25a0bc 100%);
        background: linear-gradient(45deg, #4674c8 0%, #25a0bc 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4674c8', endColorstr='#14c4c3', GradientType=1);

        @media only screen and (max-width: 480px) {
          padding: 10px 14px 6px;

          h5 {
            margin-bottom: 0;
          }

          p {
            padding-left: 20px;
            line-height: 21px;
            font-size: 13px;
            margin-top: 10px;

            svg {
              font-size: 18px;
            }
          }


        }

      }

      .review-author {

        position: relative;
        padding: 0 10px 10px 80px;

        img.review-author-image {
          position: absolute;
          top: 0;
          left: 0;


          border-radius: 500px;
        }

        h4 {
          margin: 0 0 0 5px;
          font-weight: 600;
          font-size: 16px;

        }

        p {
          font-size: 14px;
          margin-left: 4px;
        }

        div.stars-bar {
          background-color: #ff7c45;
          display: inline-block;
          height: 22px;
        }
      }



    }
  }




  .slick-slide:not(.slick-center) {
    .single-testimonial {
      opacity: 0.3;
      -ms-transform: scale(2, 3);
      /* IE 9 */
      -webkit-transform: scale(2, 3);
      /* Safari */
      transform: scale(0.9, 0.9);

      .review-author {

        h4,
        .stars-bar {
          position: relative;
          z-index: -1;
          left: -90px;
          opacity: 0;
        }

        p {
          position: relative;
          z-index: -1;
          left: -190px;
          opacity: 0;
        }
      }
    }
  }

  .slick-slide {
    outline: none;

    .review-author {

      h4,
      p,
      .stars-bar {
        opacity: 1;
        left: 10px;
      }
    }

    .review-author {
      p {
        margin: 0px;
      }
    }

    .single-testimonial {
      -moz-transition: all 0.15s ease;
      -ms-transition: all 0.85s ease;
      -webkit-transition: all 0.85s ease;
      -o-transition: all 0.85s ease;
    }

    .review-author h4,
    .review-author p,
    ul.slider-dots li button {
      -moz-transition: all 0.8s ease;
      -ms-transition: all 1.85s ease;
      -webkit-transition: all 1.85s ease;
      -o-transition: all 0.85s ease;
    }
  }
}


#helpers-slider-section {
  padding-right: 60px;
  padding-left: 60px;

  @media only screen and (min-width: 769px) and (max-width: 850px) {
    padding-right: 20px;
    padding-left: 20px;
    ;
  }

  @media only screen and (max-width: 768px) {
    padding-right: 100px;
    padding-left: 100px;
  }

  @media only screen and (max-width: 560px) {
    padding-right: 70px;
    padding-left: 70px;
  }




  .btn {
    display: table;
    margin: 0 auto 0;
  }

  $margin-top:80px;
  $single-margin: 2.4%;
  $width: ((100-$single-margin*6)/4);



  .row {
    .service-provider {
      background-color: #fff;
      position: relative;
      flex-basis: $width;
      margin: $margin-top $single-margin;
      padding: 0 0 50px;
      box-sizing: border-box;
      border-radius: 5px;
      overflow: hidden;
      -webkit-box-shadow: 0 6px 13px 0px rgba(0, 0, 0, 0.09);
      -moz-box-shadow: 0 6px 13px 0px rgba(0, 0, 0, 0.09);
      -o-box-shadow: 0 6px 13px 0px rgba(0, 0, 0, 0.09);
      min-width: 83%;

      @media only screen and (max-width: 768px) {
        min-width: 250px;
        margin: 70px 20px;

      }

      @media only screen and (max-width: 550px) {
        min-width: 230px;

      }

      @media only screen and (max-width: 480px) {
        min-width: 217px;
        width: 217px !important;
        margin: 70px 0px;


      }

      .sp-img {
        img {
          height: 200px;
          object-fit: cover;
          width: 100%;
        }
      }

      .sp-info {
        padding: 8px 12px;
        text-align: left;

        h5 {
          margin: 0;
          font-weight: 600;
          font-size: 14px;
        }

        p {
          margin: 0;
          font-size: 12px;
        }

        a {
          background-color: #ff6423;
          padding: 2px 10px;
          margin-top: 5px;
          display: inline-block;
          border-radius: 4px;
          font-size: 12px;
          color: #fff;
          font-weight: 600;
          margin-top: 10px;

          &.contact {
            background-color: #eee;
            color: #4d4d4d;
          }
        }
      }

      .sp-footer {
        background-color: rgba(238, 238, 238, 0.29);
        border-top: 1px solid #f1f1f1;
        padding: 8px 12px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: left;
        bottom: 0;

        p {
          font-size: 12px;
          display: inline-block;
          margin: 0;

          span {
            font-weight: bold;
          }
        }

        div.rating {
          display: inline-block;

          svg {
            font-size: 12px;
            margin: 0px 2px 1px 4px;
            color: #ff6423;
          }

          &:before {
            content: ' - ';
            color: #9c9c9c;
          }
        }
      }
    }
  }

  .slick-next.slick-arrow {
    right: -45px;

    @media only screen and (max-width: 768px) {
      right: -65px;
    }

    @media only screen and (max-width: 560px) {
      right: -50px;
    }


  }

  .slick-prev.slick-arrow {
    left: -45px;

    @media only screen and (max-width: 768px) {
      left: -65px;
    }

    @media only screen and (max-width: 560px) {
      left: -50px;
    }

  }



}



#get-app-section {
  div.img-cont {
    flex-basis: 380px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
  }

  div.body-cont {
    .btn-group {
      margin-top: 20px;
      display: inline-block;
      -webkit-box-shadow: 0 6px 13px 0px rgba(0, 0, 0, 0.12);
      -moz-box-shadow: 0 6px 13px 0px rgba(0, 0, 0, 0.12);
      -o-box-shadow: 0 6px 13px 0px rgba(0, 0, 0, 0.12);
      border-radius: 500px;

      a.btn {
        margin: 0;
        padding: 16px 28px;
        font-size: 16px;

        @media only screen and (max-width: 480px) {
          padding: 13px 19px;
          font-size: 14px;
        }

        svg {
          font-size: 22px;
          margin-right: 5px;

          @media only screen and (max-width: 480px) {
            font-size: 20px;
          }
        }

        &.btn-white {
          -webkit-box-shadow: 0 6px 13px 0px rgba(0, 0, 0, 0);
          -moz-box-shadow: 0 6px 13px 0px rgba(0, 0, 0, 0);
          -o-box-shadow: 0 6px 13px 0px rgba(0, 0, 0, 0);
        }
      }
    }
  }
}



#why-choose-us-section {
  div.row.head {
    margin-bottom: 40px;
  }

  div.row {
    h4 {
      margin-bottom: 0;

      @media only screen and (max-width: 480px) {
        margin-top: 4px;
      }
    }

    p {
      font-size: 13px;

      @media only screen and (max-width: 480px) {
        margin-bottom: 46px;
        line-height: 18px;
      }

    }

    img {
      width: 125px;
      object-fit: cover;

      @media only screen and (max-width: 768px) {
        width: 100px;
      }

      @media only screen and (max-width: 480px) {
        width: 125px;
      }
    }
  }
}


#fqa-home-section {
  .row.accordion {
    margin-right: 0;
    margin-left: 0;
    overflow: hidden;
    width: 100%;
  }
}


#partners-section {
  div.row.head {
    margin-bottom: 20px;
  }

  div.fixed-basis {
    flex-basis: 100px;
    padding: 20px;

    img {
      max-width: 200px;
      opacity: 0.5;
      -moz-transition: opacity 0.2s ease;
      -ms-transition: opacity 0.2s ease;
      -webkit-transition: opacity 0.2s ease;
      -o-transition: opacity 0.2s ease;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}


#available-states-section {
  padding: 170px 20px 120px;

  @media only screen and (max-width: 768px) {
    padding: 130px 20px 50px;
  }



  box-sizing: border-box;
  margin-bottom: -150px;
  background-image: url(../img/home-page-states-bg.svg);

  div.row.head {
    margin-bottom: 20px;

    h2 {
      color: #fff;
      margin: 0 5px;
    }
  }

  div.row:not(.head) {

    padding: 40px 0;
    background-image: url(../img/us-map.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;


    div.col-xs-4 {
      flex-basis: 280px;
      position: relative;
      left: -24px;

      @media only screen and (max-width: 768px) {
        flex-basis: 175px;
        left: -14px;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        @media only screen and (max-width: 768px) {
          font-size: 13px;
          line-height: 14px;
          margin-bottom: 13px;
        }

        span {
          margin: 0 0 0 10px;
          color: rgba(255, 255, 255, 0.36);
          padding: 0 2px;
          position: absolute;
          font-size: 14px;

          @media only screen and (max-width: 768px) {
            font-size: 13px;
            margin: 0 0 0 5px;
          }
          @media only screen and (min-width: 769px) {
            &:after {
              content: ' Helpers';
              position: absolute;
              top: 0;
              left: 22px;
            }
          }
        }
        color: #fff;
        line-height: 35px;
      }
    }
  }
}