.profile-page-content {

  padding: 0 40px !important;

  section {
    margin-bottom: 80px;

    @media only screen and (max-width: 480px) {
      padding: 0 20px 40px;
    }
  }

  div.head {
    h4 {
      margin: 0 -40px 30px;
      background-color: rgba(238, 238, 238, 0.34);
      padding: 20px 40px;
      font-size: 22px;
      color: #383838;
      border-bottom: 1px solid rgba(221, 221, 221, 0.5);
      border-top: 1px solid rgba(221, 221, 221, 0.5);
    }
  }

  h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;

  }

  p {
    margin: 0 0 20px;
    font-size: 14px;
  }

  .summary-profile-section {
    p.property {
      display: inline-block;
      text-align: center;
      font-size: 16px;
      color: #828282;

      span {
        color: #3e3e3e;
        display: block;
        font-weight: 700;
      }

      margin: 10px 20px 30px 0;
    }
  }

  .equipment-profile-section {
    .loop-equipment {
      display: flex;

      .items-list {
        flex-basis: 40%;
        margin-right: 10%;

        @media only screen and (max-width: 680px) {
          flex-basis: 50%;

          margin-right: 0%;

        }

        .item {
          position: relative;
          padding-left: 30px;

          @media only screen and (max-width: 680px) {
            padding-left: 20px;

          }

          h5 {
            font-weight: 600;
            font-size: 14px;
            color: #252525;
            margin-bottom: 8px;
          }

          svg {

            position: absolute;
            top: 4px;
            left: 3px;

            @media only screen and (max-width: 680px) {
              font-size: 10px
            }
          }

          p {
            font-size: 12px;
            line-height: 20px;
            margin-bottom: 10px;
          }
        }

        &.type-1 {
          svg {
            color: #18aa2c;
          }
        }

        &.type-2 {
          svg {
            color: #1e89d1;
            left: 10px
          }
        }
      }
    }
  }

  .service-area-profile-section {
    .map-container {
      overflow: hidden;
      border-radius: 10px;
    }

    p {
      margin-top: 20px;
    }

    ul {
      margin: 10px 0 50px;
      padding: 0;
      list-style: none;

      li {
        width: 170px;
        display: inline-block;
        margin-bottom: 5px;
        font-size: 14px;
        text-decoration: underline;
        color: #919191;

        @media only screen and (max-width: 768px) {
          width: 110px;
        }
      }
    }
  }

  .working-hours-profile-section {
    text-align: left;

    h3 {
      display: block;
      width: 100%;

      @media only screen and (max-width: 480px) {
        font-size: 16px;
      }
    }

    div.col {
      ul {
        margin: 0 0 50px;
        padding: 0;
        list-style: none;

        li {
          height: 40px;
          position: relative;
          border-bottom: 1px solid #dddddd;

          p.day {
            position: absolute;
            top: 6px;
            left: 0;
            font-weight: 600;
          }

          div.time {
            position: absolute;
            top: 10px;
            right: 0;

            span {
              font-size: 14px;
            }
          }
        }
      }

      img {
        display: block;
        margin: 30px auto 0;
      }

      @media only screen and (max-width: 768px) {

        display: block;
        width: 100%;
      }
    }
  }

  .credentials-profile-section {
    .credentials-container {
      .credential-item {
        padding: 0 40px;
        box-sizing: border-box;

        @media only screen and (max-width: 768px) {
          padding: 0 0px;
        }

        h5 {
          font-size: 18px;
          font-weight: 700;
          color: #363636;
          margin-bottom: 10px;
        }

        p {
          border-bottom: 1px solid #ddd;
          margin-bottom: 0;
          position: relative;
          font-weight: 600;

          span {

            position: absolute;
            right: 0;
            color: #1881be;

            @media only screen and (max-width: 1200px) {
              position: relative;

            }
          }
        }
      }
    }
  }
}


.clients-reviews-container {

  margin-top: 150px;
  border-top: 1px solid #ddd;
  padding-top: 70px;
  margin-bottom: 200px;
  position: relative;

  @media only screen and (max-width: 480px) {
    padding: 0 20px;
    margin-top: -180px;
  }

  h3 {
    font-weight: 600;
    color: #313131;
    line-height: 24px;
    margin-bottom: 40px;

    @media only screen and (max-width: 768px) {
      margin-bottom: 20px;
    }

    @media only screen and (max-width: 480px) {
      font-size: 20px;
    }

    small {
      font-size: 14px;
      font-weight: 500;
    }
  }

  #reviews-sorting {

    position: absolute;
    top: 100px;
    right: 12px;

    outline: none;
    padding: 10px;
    border: 0;
    background-color: rgba(236, 236, 236, 0.48);
    border-bottom: 1px solid #ddd;

    @media only screen and (max-width: 768px) {
      position: relative !important;
      top: 0;
      left: -6px;
      margin-bottom: 27px;
    }
  }

  .row.review {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 15px 15px 25px;
    box-sizing: border-box;
    margin-bottom: 50px;

    @media only screen and (max-width: 480px) {
      margin-bottom: 20px;

    }

    .main-review-info {

      position: relative;

      h4.review-client-name {
        color: #2e65b0;
        font-weight: 600;
        margin-top: 10px;
      }

      .review-budget {
        position: absolute;
        right: 5px;
        top: 16px;
        font-size: 28px;

        @media only screen and (max-width: 480px) {
          font-size: 20px;

        }

      }

      .review-info {

        .review-rating {
          .review-stars {
            background-color: #ddd;
            height: 10px !important;
            overflow: hidden;
            width: 67px;
            display: inline-block;

            span {
              width: 100%;
              display: block;
              background-color: #fd804b;

            }

            img {
              position: relative;
              top: -2px;
              margin-bottom: 0;
              margin-right: 4px;
            }
          }

          span {
            font-weight: 700;
            font-size: 13px;
          }
        }

        .job-location {
          font-size: 13px;
        }

        .review-rating,
        .job-location {
          display: inline-block;
        }
      }

      .review-body {
        p.review {
          font-size: 15px;
          line-height: 22px;
          color: #000;
        }
      }

      .replay {
        position: relative;
        padding-left: 100px;

        img {
          margin-left: 40px;
        }

        span {
          position: absolute;
          font-size: 11px;
          top: 0;
          left: 0;
          color: #000;
        }

        p {
          position: relative;
          top: 10px;
          font-size: 14px;
          line-height: 22px;
          color: #424242;
        }
      }

    }

    .job-scope {
      @media only screen and (max-width: 480px) {
        display: none;
      }

      ul {
        border-left: 1px solid #ddd;
        margin: 20px;
        bottom: 0;

        li {
          line-height: 24px;
          font-size: 13px;

        }
      }
    }
  }
}




.actual-rate-stars {

  &.stars-50 {
    width: 100%;
  }

  &.stars-45 {
    width: 92% !important;
  }

  &.stars-40 {
    width: 80% !important;
  }

  &.stars-35 {
    width: 70% !important;
  }

  &.stars-30 {
    width: 60% !important;
  }

  &.stars-25 {
    width: 50% !important;
  }

  &.stars-20 {
    width: 40% !important;
  }

  &.stars-15 {
    width: 30% !important;
  }

  &.stars-10 {
    width: 15% !important;
  }

  &.stars-05 {
    width: 10% !important;
  }

  &.stars-0 {
    width: 0% !important;
  }
}
