#login-form-container {
  .sign-in-banner {
    padding: 0;
    height: 400px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    z-index: 5;
    left: 65px;
    -webkit-box-shadow: -2px 15px 59px -21px rgba(0, 0, 0, 1);
    -moz-box-shadow: -2px 15px 59px -21px rgba(0, 0, 0, 1);
    box-shadow: -2px 15px 59px -21px rgba(0, 0, 0, 1);

    div.img-container {
      margin-right: 100px;
      background-image: url("../img/man-with-box.jpg");
      height: 100%;
      background-size: cover;
      background-position: 50% 50%;
      text-align: left;
      padding: 0 20px 0;
      -webkit-box-shadow: inset 0 -165px 184px -39px rgba(6, 17, 35, 0.59);
      -moz-box-shadow: inset 0 -165px 184px -39px rgba(6, 17, 35, 0.59);
      box-shadow: inset 0 -165px 184px -39px rgba(6, 17, 35, 0.59);

      div {
        position: absolute;
        bottom: 0;

        h4,
        p {
          color: #fff;
          text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
          margin: 0;
          line-height: 20px;
        }

        h4 {
          margin-bottom: 10px;
        }

        p {
          font-size: 13px;
          margin-bottom: 16px;
        }
      }
    }
  }

  .sign-in-form-content,
  .inner-container {

    &.sign-in-form-content {
      padding: 50px 30px 20px;
      position: relative;
      z-index: 8;
      left: -60px;
      min-height: 500px;
    }

    padding: 50px 30px;
    text-align: left;
    min-height: 600px;
    background-color: #fff;

    border-radius: 4px;
    -webkit-box-shadow: -2px 15px 59px -21px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: -2px 15px 59px -21px rgba(0, 0, 0, 0.29);
    box-shadow: -2px 15px 59px -21px rgba(0, 0, 0, 0.29);

    div.head {
      margin-bottom: 20px;
    }

    p {
      line-height: 20px;
    }

    button {
      margin: 14px 0;
    }

    button+a {
      display: block;
      font-size: 13px;
    }
  }

  .input-field {
    position: relative;
    margin-bottom: 15px;

    label {

      position: absolute;
      cursor: text;
      top: 20px;
      left: 14px;
      font-size: 15px;
      color: #a5a5a5;
      @include transition(all, 0.4s, ease-out);

      &.active {
        top: 5px;
        color: #909090;
        font-size: 10px;
        cursor: default;
      }
    }

    svg {
      color: #b3b3b3;
      position: absolute;
      font-size: 18px;
      top: 18px;
      left: 12px;
    }

    input,
    textarea {
      width: 100%;
      border: none;
      padding: 14px 5px 0px 15px;

    }

    textarea {
      min-height: 150px;
    }

    input,
    textarea,
    select {
      height: 50px;
      border: none;
      border-bottom: 1px solid rgba(204, 204, 204, 0.52);
      background-color: #fff;
      color: #3e3e3e;
      outline-color: #ddd;
      outline-width: 1px;
      @include transition(all, 0.4s, ease-out);

      &:focus {
        background-color: rgba(221, 221, 221, 0.22);
      }

      &.active-field {
        padding-top: 14px !important;
        padding-bottom: 0px !important;
      }

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(156, 156, 156);
        opacity: 1;
        /* Firefox */
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: rgb(156, 156, 156);

        &::-ms-input-placeholder {
          /* Microsoft Edge */
          color: rgb(156, 156, 156);
        }



      }

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: transparent;
        opacity: 1;
        /* Firefox */
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: transparent;
      }

      &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: transparent;
      }


    }


    select {

      height: 50px;
      position: relative;
      top: 0px;
      left: 0;
      min-width: 100%;
      width: 100%;

    }

    &.has-icon {
      label {
        left: 40px;
      }

      input {
        padding-left: 40px;
      }
    }

    &.has-text {
      margin-bottom: 40px;

      input,
      select {
        top: -15px;
        height: 45px;
      }
    }

    &.has-checkbox {

      label {
        top: 0px;
        left: 2px;
      }

      .form-error {
        top: 22px !important;
        left: 28px !important;
      }

      label {

        input[type="checkbox"] {
          width: 16px;
          position: absolute;
          top: -8px;
          opacity: 0.7;
        }

        input:checked,
        input:checked+p {
          opacity: 1;
        }

        p {
          margin: 0 0 60px 25px;
          cursor: pointer;
          opacity: 0.7;
        }

      }
    }

    &.half {
      width: 48%;
      display: inline-block;

      &:nth-child(2n+1) {
        //   margin-left: 4%;
      }
    }

    &.third {
      width: 30.8%;
      display: inline-block;

      & {
        //  margin-left: 0 !important;
        // margin-right: 3%;
      }

      &:nth-child(3n+2) {
        //   margin-right: 0 !important;
      }
    }

    p {
      margin-bottom: 10px;

      span {
        color: #cfcfcf;
      }
    }

    small {
      font-size: 14px;
      color: #828282;
      line-height: 22px;
      margin-bottom: 0px;
      display: block;
    }

    p,
    small {
      margin-right: 90px;
    }

    .terms {
      background-color: rgba(230, 230, 230, 0.41);
      width: 100%;
      margin: 0;
      padding: 15px;
      max-height: 300px;
      box-sizing: border-box;
      overflow-y: scroll;
      margin: 20px 0;

      p {
        font-size: 14px;
        line-height: 22px;
        margin: 0;
      }
    }

    .form-error {
      position: absolute;
      left: 2px;
      top: 47px;
      font-size: 10px;
    }



    &.inline-input {

      .select-container,
      input {
        position: absolute;
        right: 0;
        top: 0;
        height: 50px;
        padding: 0 10px;
        max-width: 80px;
      }

      .select-container {
        padding: 0;

        select {
          width: 100%;
          height: 50px;
          padding: 0px 13px;
        }
      }


      .form-error {
        top: 24px !important;
      }

      .active-field {
        padding-top: 5px !important;
      }
    }

  }

  @media only screen and (max-width: 1200px) {
    display: block;
    margin: 0 auto;
    padding: 0;
  }

  .sign-in-banner {
    @media only screen and (max-width: 1300px) {
      left: 30px;
    }

    @media only screen and (max-width: 1100px) {
      left: 10px;
    }

    @media only screen and (max-width: 970px) {
      min-width: 300px;
    }

    @media only screen and (max-width: 620px) {
      display: none;

    }

    .img-container {
      @media only screen and (max-width: 1300px) {

        margin-right: 30px !important;
      }

      @media only screen and (max-width: 1100px) {
        margin-right: 10px !important;

      }

    }
  }

  .sign-in-form-content,
  .inner-container {
    @media only screen and (max-width: 970px) {
      &.sign-in-form-content {
        min-width: 280px;
        left: -10px;
      }
    }

    @media only screen and (max-width: 620px) {
      padding: 20px 50px;
      box-sizing: border-box;
      min-width: 100%;
      margin-top: -20px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-radius: 0;
      left: 0;
      min-height: auto;
      margin-bottom: 150px;

      &.sign-in-form-content {}
    }
  }
}
