#register-form-container,
.content-wrapper {
  margin: auto;
  text-align: left;

  @media only screen and (max-width: 480px) {
    padding: 0;
    margin-top: -20px;
    position: relative;
    z-index: -1;
    margin-bottom: 110px
  }

  div.head#sign-up-header {
    margin: 0 0 50px;

    h3 {
      margin: 0 0 5px;
    }

    p {
      margin: 0;
      font-size: 13px;
      color: #777777;
    }
  }

  div.form-content,
  div.content {
    text-align: left;
    background-color: #fff;
    width: 100%;
    padding: 50px 7% 120px;
    @include border-radius(4px);
    box-shadow: 0 10px 89px -25px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 0 18px 50px -21px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 0 10px 89px -25px rgba(0, 0, 0, 0.59);
    -o-box-shadow: 0 10px 89px -25px rgba(0, 0, 0, 0.59);
    min-width: 1000px;
    z-index: 3;
    position: relative;
    margin-bottom: -20px;

    @media only screen and (max-width: 1600px) {
      min-width: 800px;
    }

    @media only screen and (max-width: 1200px) {
      min-width: 700px;
    }

    @media only screen and (max-width: 1000px) {
      min-width: 600px;
    }

    @media only screen and (max-width: 768px) {
      min-width: 98%;
    }

    @media only screen and (max-width: 480px) {
      min-width: 100%;
      padding: 40px 20px 80px !important;

      box-shadow: 0 10px 89px -25px transparent;
      -webkit-box-shadow: 0 18px 50px -21px transparent;
      -moz-box-shadow: 0 10px 89px -25px transparent;
      -o-box-shadow: 0 10px 89px -25px transparent;

      div.head {
        margin-bottom: 27px;
        h3 {
          font-size: 22px;
        }
        p {
          font-size: 11px !important;
        }
      }
    }

    .step {
      margin: 20px 0;

      .input-row {
        display: flex;
        justify-content: space-between;
      }

      .input-field {
        position: relative;
        margin-bottom: 10px;
        padding-bottom: 15px;

        label {

          position: absolute;
          cursor: text;
          top: 20px;
          left: 14px;
          font-size: 15px;
          color: #a5a5a5;
          @include transition(all, 0.4s, ease-out);

          &.active {
            top: 5px;
            color: #909090;
            font-size: 10px;
            cursor: default;
          }
        }

        svg {
          color: #b3b3b3;
          position: absolute;
          font-size: 18px;
          top: 18px;
          left: 12px;
        }

        input,
        textarea {
          width: 100%;
          border: none;
          padding: 14px 5px 0px 15px;

        }

        textarea {
          min-height: 150px;
        }

        input,
        textarea,
        select {
          height: 50px;
          border: none;
          border-bottom: 1px solid rgba(204, 204, 204, 0.52);
          background-color: rgba(200, 200, 200, 0.09);
          color: #3e3e3e;
          outline-color: #ddd;
          outline-width: 1px;
          @include transition(all, 0.4s, ease-out);

          &.active-field {
            padding-top: 14px !important;
            padding-bottom: 0px !important;
          }

          &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgb(156, 156, 156);
            opacity: 1;
            /* Firefox */
          }

          &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: rgb(156, 156, 156);

            &::-ms-input-placeholder {
              /* Microsoft Edge */
              color: rgb(156, 156, 156);
            }



          }

          &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: transparent;
            opacity: 1;
            /* Firefox */
          }

          &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: transparent;
          }

          &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: transparent;
          }


        }


        select {

          height: 50px;
          position: relative;
          top: 0px;
          left: 0;
          min-width: 100%;
          width: 100%;

        }

        &.has-icon {
          label {
            left: 40px;
          }

          input {
            padding-left: 40px;
          }
        }

        &.has-text {
          margin-bottom: 40px;

          input,
          select {
            top: -15px;
            height: 45px;
          }
        }

        &.has-checkbox {

          label {
            top: 0px;
            left: 2px;
          }

          .form-error {
            top: 22px !important;
            left: 28px !important;
          }

          label {

            input[type="checkbox"] {
              width: 16px;
              position: absolute;
              top: -8px;
              opacity: 0.7;
            }

            input:checked,
            input:checked+p {
              opacity: 1;
            }

            p {
              margin: 0 0 60px 25px;
              cursor: pointer;
              opacity: 0.7;
            }

          }
        }

        &.half {
          width: 48%;
          display: inline-block;

          &:nth-child(2n+1) {
            //   margin-left: 4%;
          }
        }

        &.third {
          width: 30.8%;
          display: inline-block;

          & {
            //  margin-left: 0 !important;
            // margin-right: 3%;
          }

          &:nth-child(3n+2) {
            //   margin-right: 0 !important;
          }
        }

        p {
          margin-bottom: 10px;

          span {
            color: #cfcfcf;
          }
        }

        small {
          font-size: 14px;
          color: #828282;
          line-height: 22px;
          margin-bottom: 0px;
          display: block;
        }

        p,
        small {
          margin-right: 90px;
        }

        .terms {
          background-color: rgba(230, 230, 230, 0.41);
          width: 100%;
          margin: 0;
          padding: 15px;
          max-height: 300px;
          box-sizing: border-box;
          overflow-y: scroll;
          margin: 20px 0;

          p {
            font-size: 14px;
            line-height: 22px;
            margin: 0;
          }
        }

        .form-error {
          position: absolute;
          left: 2px;
          top: 47px;
          font-size: 10px;
        }



        &.inline-input {

          .select-container,
          input {
            position: absolute;
            right: 0;
            top: 0;
            height: 50px;
            padding: 0 10px;
            max-width: 80px;
          }

          .select-container {
            padding: 0;

            select {
              width: 100%;
              height: 50px;
              padding: 0px 13px;
            }
          }


          .form-error {
            top: 24px !important;
          }

          .active-field {
            padding-top: 5px !important;
          }
        }

      }
    }
  }

  .reg-application-sent {
    margin-top: 50px;

    div.head {
      display: none;
    }

    text-align: center;

    p {
      font-size: 14px;
    }

    button {
      display: block;
      margin: 40px auto;
    }
  }

}