footer {
  .container-fluid {
    max-width: 1600px;
  }


  &.has-top-curves {

    position: relative;
    margin-top: 10px;
    padding-top: 380px;

    @media only screen and (max-width: 1600px) {
      padding-top: 320px;
    }

    @media only screen and (max-width: 991px) {
      padding-top: 250px;
    }

    @media only screen and (max-width: 768px) {
      padding-top: 170px;
    }

    div.footer-top-curves {
      position: absolute;
      z-index: -1;
      right: 0;
      width: 100%;
      background-image: url("../img/footer-curve.svg");

      top: -270px;
      height: 500px;

      @media only screen and (max-width: 1600px) {
        top: -170px;
        height: 330px;
      }


      @media only screen and (max-width: 991px) {
        top: -120px;
        height: 240px;
      }

      @media only screen and (max-width: 768px) {
        top: -85px;
        height: 170px;
      }

    }
  }

  a:hover {
    color: #6fb0cf;

  }

  .footer-site-logo {
    width: 100%;
    height: 35px;
    background-image: url(../img/logo-sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -422px;
    margin: 5px 0 25px;

    @media only screen and (max-width: 1060px) {
      background-position: 0 -556px;
      margin: 5px 0 0px;

    }

    @media only screen and (max-width: 768px) {
      background-position: 0 -422px;
      width: 248px;
      margin: 5px auto 25px;
      display: table;
    }



  }

  p {
    font-size: 13px;
    line-height: 17px;

    @media only screen and (max-width: 768px) {
      text-align: center;
      margin: 0px 0 25px;
    }
  }

  a,
  h3,
  h4,
  p,
  small,
  span {
    color: #d5d3d4;
  }

  h4 {
    font-weight: 600;
    font-size: 18px;
    margin: 5px 0 20px;
    line-height: 20px;

    small {
      font-size: 11px;
      display: block;
    }
  }

  nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        line-height: 22px;

        a {
          font-size: 12px;
          letter-spacing: 1px;
        }
      }
    }

    &.social-links,
    &.app-links {
      ul {
        li {
          display: inline-block;
          margin-right: 10px;
        }
      }
    }

    &.app-links {

      h4,
      ul {
        display: inline-block;
      }

      h4 {
        margin-right: 20px;
      }

      a {
        font-size: 20px;
      }
    }


  }

  form {
    input[type="email"] {
      width: 100%;
      font-size: 12px;
      background-color: #344756;
      color: #fff;
      @include transition(all, 0.5s, ease);

      &:focus {
        background-color: #ddd;
        color: #000000;
        font-weight: 600;

      }

      @include border-radius(500px);
    }

    button {
      background-color: #6fb0cf !important;
      color: #ffffff !important;
      font-weight: 600;

      @include border-radius(500px);
      height: 38px;
      top: -0px !important;
      font-size: 14px;
      padding: 0 16px;
    }

    margin-bottom: 20px;
  }

  .copy-rights {
    padding: 80px 0 20px;

    span {
      font-size: 12px;
    }
  }

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a0a0a+0,09263d+100 */
  background: rgb(10, 10, 10);
  /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(10, 10, 10, 1) 0%, rgba(9, 38, 61, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(10, 10, 10, 1) 0%, rgba(9, 38, 61, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(10, 10, 10, 1) 0%, rgba(9, 38, 61, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a0a0a', endColorstr='#09263d', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  z-index: 1;
  position: relative;
  padding-top: 250px;

  span.social-line {

    background-color: rgba(255, 255, 255, 0.8);
    height: 1px;
    width: 33.33%;
    display: inline-block;
    margin-bottom: 0;
    margin-bottom: 0;
    position: relative;

  }

  div.social-group {
    display: flex;
    margin-bottom: 70px;

    span.social-line {

      background-color: rgba(255, 255, 255, 0.53);
      height: 1px;
      width: 50%;
      display: inline-block;
      margin-bottom: 0;
      margin-bottom: 0;
      position: relative;
      top: 12px;

    }

    nav.social-links {
      padding-left: 5px;
      display: inline-block;
      z-index: 2;
      flex-basis: 140px;
      min-width: 95px;

      ul {
        margin: 0;
        padding: 0;

        li {
          margin: 0 5px;
        }
      }
    }
  }

  div.search-col {
    @media only screen and (max-width: 768px) {
      max-width: 380px;
      text-align: center;
      margin-top: 60px;
      min-width: 290px
    }
  }
}