<form required #userForm="ngForm">

	<p class="alert alert-success" *ngIf="success"> Data saved successfully </p>

	<div class="form-group">
		<label for="firstname">First Name</label><br>
		<input ngModel name="firstname" (change)="log(firstname)" #firstname="ngModel" id="firstname" type="text" class="form-control" required>
		<p class="alert alert-danger" *ngIf="!firstname.valid && firstname.touched"> First Name is required </p>
	</div>
	<div class="form-group">
		<label for="lastname">Last Name</label><br>
		<input ngModel name="lastname" id="lastname" (change)="log(lastname)" #lastname="ngModel" type="text" class="form-control" required>
		<p class="alert alert-danger" *ngIf="!lastname.valid && lastname.touched"> Last Name is required </p>
	</div>
	<div class="form-group">
		<label for="phone">Phone Number</label><br>
		<input ngModel name="phone" id="phone" pattern="[0-9]" (change)="log(phone)" #phone="ngModel" type="text" class="form-control" required>
		<p class="alert alert-danger" *ngIf="!phone.valid && phone.touched"> Phone number is required </p>
		<p class="alert alert-danger" *ngIf="phone.errors.pattern"> Phone number is Invalid </p>
	</div>
	<button class="btn btn-primary" (click)="save(firstname.viewModel, lastname.viewModel, phone.viewModel)" [disabled]="!userForm.form.valid">Save</button>
</form>